* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-transform: capitalize;

}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #adb5bd;
    
   
}

.container {
    width: 400px;
    height: min-content;
    background-color: #f0ead2;
    border-radius: 12px;
    padding: 28px;
   

}

.input_container{
    width: 100%;
}
.input_icon {
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid lightgray;
    border-radius: 18px;
    padding: 12px 12px;
   
}

 input {
    background-color: transparent;
    width: 84%;
    color: black;
    font-size: 20px;
    /* padding: 12px 12px; */

}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    background-color: white !important;
    -webkit-box-shadow: 0 0 0 1000px #f0ead2 inset !important;
    color: black !important;
}




 input::placeholder {
    color: black;
    background-color: transparent;

}

.input_icon button{
    cursor: pointer;
    background-color: transparent;

}
.input_icon button i{
   font-size: 18px;

}
.input_icon button i:hover{
   font-size: 20px;

}
.wether_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}
.wether_box{
    margin-block: 20px;
    text-align: center;
    
}
.wether_box  .temp{
   font-size: 30px;
   font-weight: 800;
   position: relative;

}
.wether_box  .temp sup{
    position: absolute;
    font-size: 20px;
    font-weight: 500;
}

.wether_box .description{
font-size: 20px;
font-weight: 700;
}
.wether_body img{
    width: 20%;
}

.wether_details{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;

}
.humidity, .wind{
display: flex;
align-items: center;

}
.wether_details i{
    font-size: 30px;
}
.text{
    margin-left: 10px;
}
.text span{
    font-size: 20px;
    font-weight: 700;
}